services:
  postgresDB:
    image: postgres:18.1
    container_name: database
    env_file:
      - ./configs/postgres.env
    volumes:
      - ./migrations/000001_init.up.sql:/docker-entrypoint-initdb.d/000001_init.up.sql
    # healthcheck:
    #     test: ["CMD-SHELL", "pg_isready -U  -d "]
    #     interval: 5s
    #     timeout: 10s
    #     retries: 10
    #     start_period: 15s
  s3:
    image: minio/minio:latest
    container_name: s3
    ports:
      - "9001:9001"
    env_file:
      - ./configs/s3.env
    entrypoint: >
       /bin/sh -c "
       /usr/bin/mc mb data/audio_files;
       /usr/bin/mc mb data/transcription_files;
       /usr/bin/mc mb data/summary_files;
       minio server /data --console-address ":9001";
       "
    volumes:
      - ./databases-data/s3:/data
