services:
  postgresDB:
    image: postgres:18.1
    container_name: database
    env_file:
      - ./configs/postgres.env
    volumes:
      - ./migrations/000001_init.up.sql:/docker-entrypoint-initdb.d/000001_init.up.sql
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
        interval: 5s
        timeout: 10s
        retries: 10
        start_period: 15s
    networks:
      - summirizer

  rest-api-server:
    build: ./rest-api-server
    image: rest-api-python_2year:0.1
    container_name: rest-api-server
    ports:
      - "8000:8000" 
    env_file:
      - ./rest-api-server/configs/postgres.env
      - ./rest-api-server/configs/kafka.env
      - ./rest-api-server/configs/s3.env
    depends_on:
      postgresDB:
        condition: service_healthy
    networks:
      - summirizer
      
  s3:
    image: minio/minio:latest
    container_name: s3
    ports:
      - "9001:9001"
    env_file:
      - ./configs/s3.env
    entrypoint: >
       /bin/sh -c "
       /usr/bin/mc mb data/audio-files;
       minio server /data --console-address ":9001";
       "
    volumes:
      - ./databases-data/s3:/data
    networks:
      - summirizer

  kafka-1:
    image: apache/kafka:4.1.1
    container_name: kafka-1
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:29093,2@kafka-2:29093,3@kafka-3:29093"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092, CONTROLLER://0.0.0.0:29093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka-1:9092"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
      KAFKA_CLUSTER_ID: "XtY44JkqT1Wj87uzXCm3Qg"
    networks:
      - summirizer

  kafka-2:
    image: apache/kafka:4.1.1
    container_name: kafka-2
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:29093,2@kafka-2:29093,3@kafka-3:29093"
      KAFKA_LISTENERS:  "PLAINTEXT://0.0.0.0:9092, CONTROLLER://0.0.0.0:29093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka-2:9092"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
      KAFKA_CLUSTER_ID: "XtY44JkqT1Wj87uzXCm3Qg"
    networks:
      - summirizer

  kafka-3:
    image: apache/kafka:4.1.1
    container_name: kafka-3
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:29093,2@kafka-2:29093,3@kafka-3:29093"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092, CONTROLLER://0.0.0.0:29093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka-3:9092"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
      KAFKA_CLUSTER_ID: "XtY44JkqT1Wj87uzXCm3Qg"
    networks:
      - summirizer

  # Create topics after brokers start
  kafka-init:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - kafka-1
      - kafka-2
      - kafka-3
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "
      sleep 5 &&
      kafka-topics --create --topic audio_files --partitions 6 --replication-factor 3 --bootstrap-server kafka-1:9092 &&
      kafka-topics --create --topic transcriptions --partitions 6 --replication-factor 3 --bootstrap-server kafka-1:9092 &&
      kafka-topics --create --topic summaries --partitions 6 --replication-factor 3 --bootstrap-server kafka-1:9092
      "
    networks:
      - summirizer

networks:
  summirizer:
    driver: bridge